* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7e7e7;
}
.navbar>a {
color: white;

}

header {
position: fixed;
  top: 0;
  left: 0;
    background-color: #9b3b49;
    color: white;
}
footer{
background-color:#9b3b49;
color: white;
position: fixed;
  bottom: 0;
  left: 0;
}

/* Style for the header */
header {
  
  width: 100%;
  background-color: #333; /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
  padding: 10px; /* Adjust as needed */
}

/* Style for the main content */
main {
  margin-top: 50px; /* Adjust to accommodate the header height */
  margin-bottom: 100px; /* Adjust to accommodate the footer height */
}

header>a {
    color: white;
}

a {
    text-decoration: none;

}

.btn {
    background-color: #20BAEE;
    color: white;
}

.btn:hover {
    background-color: #9b3b49;
    color: white;
}

.official img {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    border: solid #20BAEE 3px;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline-block;
   
}

.impact-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
i,h1{
color:#20BAEE;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");